@font-face {
  font-family: 'arenafont';
  src:  url('fonts/arenafont.eot?64xlmg');
  src:  url('fonts/arenafont.eot?64xlmg#iefix') format('embedded-opentype'),
    url('fonts/arenafont.ttf?64xlmg') format('truetype'),
    url('fonts/arenafont.woff?64xlmg') format('woff'),
    url('fonts/arenafont.svg?64xlmg#arenafont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arenafont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag1:before {
  content: "\e90e";
}
.icon-shopping-cart1:before {
  content: "\e90f";
}
.icon-500px:before {
  content: "\f26e";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-adjust:before {
  content: "\e8ba";
}
.icon-adn:before {
  content: "\f170";
}
.icon-align-center:before {
  content: "\e8b2";
}
.icon-align-justify:before {
  content: "\e8a7";
}
.icon-align-left:before {
  content: "\e8b1";
}
.icon-align-right:before {
  content: "\e8b3";
}
.icon-amazon:before {
  content: "\f270";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-android:before {
  content: "\f17b";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-angle-circled-down:before {
  content: "\f13a";
}
.icon-angle-circled-left:before {
  content: "\f137";
}
.icon-angle-circled-right:before {
  content: "\f138";
}
.icon-angle-circled-up:before {
  content: "\f139";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-apple:before {
  content: "\f179";
}
.icon-arrows-cw:before {
  content: "\e885";
}
.icon-asl-interpreting:before {
  content: "\f2a4";
}
.icon-assistive-listening-systems:before {
  content: "\f2a2";
}
.icon-asterisk:before {
  content: "\e8bd";
}
.icon-at:before {
  content: "\f1fa";
}
.icon-attach:before {
  content: "\e849";
}
.icon-attention:before {
  content: "\e85b";
}
.icon-attention-alt:before {
  content: "\f12a";
}
.icon-attention-circled:before {
  content: "\e85c";
}
.icon-audio-description:before {
  content: "\f29e";
}
.icon-award:before {
  content: "\e890";
}
.icon-bag-cart:before {
  content: "\e8fd";
}
.icon-bag-light:before {
  content: "\e811";
}
.icon-balance-scale:before {
  content: "\f24e";
}
.icon-bandcamp:before {
  content: "\f2d5";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-barcode:before {
  content: "\e8ca";
}
.icon-basket:before {
  content: "\e89b";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-battery-0:before {
  content: "\f244";
}
.icon-battery-1:before {
  content: "\f243";
}
.icon-battery-2:before {
  content: "\f242";
}
.icon-battery-3:before {
  content: "\f241";
}
.icon-battery-4:before {
  content: "\f240";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-bed:before {
  content: "\f236";
}
.icon-bed-light:before {
  content: "\e80b";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-behance-squared:before {
  content: "\f1b5";
}
.icon-bell:before {
  content: "\e85a";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-bell-off:before {
  content: "\f1f6";
}
.icon-bell-off-empty:before {
  content: "\f1f7";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-bidet-light:before {
  content: "\e809";
}
.icon-binoculars:before {
  content: "\f1e5";
}
.icon-birthday:before {
  content: "\f1fd";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-squared:before {
  content: "\f172";
}
.icon-bitcoin:before {
  content: "\f15a";
}
.icon-black-tie:before {
  content: "\f27e";
}
.icon-blank:before {
  content: "\f0c8";
}
.icon-blank-cart:before {
  content: "\e8ea";
}
.icon-blind:before {
  content: "\f29d";
}
.icon-block:before {
  content: "\e86d";
}
.icon-bluetooth:before {
  content: "\f293";
}
.icon-bluetooth-b:before {
  content: "\f294";
}
.icon-bold:before {
  content: "\e8ad";
}
.icon-bomb:before {
  content: "\f1e2";
}
.icon-book:before {
  content: "\e8b9";
}
.icon-bookmark:before {
  content: "\e84d";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-box:before {
  content: "\f187";
}
.icon-boxes-light:before {
  content: "\e807";
}
.icon-braille:before {
  content: "\f2a1";
}
.icon-briefcase:before {
  content: "\e8b5";
}
.icon-brush:before {
  content: "\f1fc";
}
.icon-brush-light:before {
  content: "\e803";
}
.icon-bug:before {
  content: "\f188";
}
.icon-build-wall-light:before {
  content: "\e801";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-building-filled:before {
  content: "\f1ad";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-bus:before {
  content: "\f207";
}
.icon-buysellads:before {
  content: "\f20d";
}
.icon-cab:before {
  content: "\f1b9";
}
.icon-cactus:before {
  content: "\e808";
}
.icon-calc:before {
  content: "\f1ec";
}
.icon-calendar:before {
  content: "\e89c";
}
.icon-calendar-check-o:before {
  content: "\f274";
}
.icon-calendar-empty:before {
  content: "\f133";
}
.icon-calendar-minus-o:before {
  content: "\f272";
}
.icon-calendar-plus-o:before {
  content: "\f271";
}
.icon-calendar-times-o:before {
  content: "\f273";
}
.icon-camera:before {
  content: "\e838";
}
.icon-camera-alt:before {
  content: "\e839";
}
.icon-cancel:before {
  content: "\e840";
}
.icon-cancel-circled:before {
  content: "\e841";
}
.icon-cancel-circled2:before {
  content: "\e842";
}
.icon-car:before {
  content: "\e8ff";
}
.icon-car-solid:before {
  content: "\e81b";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-cart-light-right:before {
  content: "\e900";
}
.icon-cart-new:before {
  content: "\e903";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cart-right-left:before {
  content: "\e8d4";
}
.icon-cart-solid:before {
  content: "\e822";
}
.icon-cc:before {
  content: "\f20a";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-diners-club:before {
  content: "\f24c";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-jcb:before {
  content: "\f24b";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-ccw:before {
  content: "\e884";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-chair-light:before {
  content: "\e80d";
}
.icon-chart-area:before {
  content: "\f1fe";
}
.icon-chart-bar:before {
  content: "\e8c1";
}
.icon-chart-line:before {
  content: "\f201";
}
.icon-chart-pie:before {
  content: "\f200";
}
.icon-chat:before {
  content: "\e859";
}
.icon-chat-empty:before {
  content: "\f0e6";
}
.icon-check:before {
  content: "\e8bc";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-chevron-left-solid:before {
  content: "\e819";
}
.icon-chevron-right-solid:before {
  content: "\e818";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-circle:before {
  content: "\f111";
}
.icon-circle-empty:before {
  content: "\f10c";
}
.icon-circle-notch:before {
  content: "\f1ce";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-clock:before {
  content: "\e86c";
}
.icon-clone:before {
  content: "\f24d";
}
.icon-close-solid:before {
  content: "\e816";
}
.icon-cloud:before {
  content: "\e893";
}
.icon-code:before {
  content: "\f121";
}
.icon-codeopen:before {
  content: "\f1cb";
}
.icon-codiepie:before {
  content: "\f284";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cog:before {
  content: "\e863";
}
.icon-cog-alt:before {
  content: "\e864";
}
.icon-collapse:before {
  content: "\f151";
}
.icon-collapse-left:before {
  content: "\f191";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-comment:before {
  content: "\e858";
}
.icon-comment-empty:before {
  content: "\f0e5";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-compare-clean:before {
  content: "\e8f6";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-confirm-package:before {
  content: "\e8fb";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-contao:before {
  content: "\f26d";
}
.icon-copyright:before {
  content: "\f1f9";
}
.icon-creative-commons:before {
  content: "\f25e";
}
.icon-credit-card:before {
  content: "\e8c2";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-crop:before {
  content: "\f125";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-cube:before {
  content: "\f1b2";
}
.icon-cubes:before {
  content: "\f1b3";
}
.icon-cw:before {
  content: "\e883";
}
.icon-dashcube:before {
  content: "\f210";
}
.icon-data-transfer-circle:before {
  content: "\e8df";
}
.icon-data-transfer-horizontal:before {
  content: "\e8de";
}
.icon-data-transfer-horizontal-1:before {
  content: "\e8ef";
}
.icon-database:before {
  content: "\f1c0";
}
.icon-delicious:before {
  content: "\f1a5";
}
.icon-delivery-outline:before {
  content: "\e8da";
}
.icon-design-tool:before {
  content: "\e8d5";
}
.icon-desk-light:before {
  content: "\e805";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-deviantart:before {
  content: "\f1bd";
}
.icon-diamond:before {
  content: "\f219";
}
.icon-digg:before {
  content: "\f1a6";
}
.icon-dining-room-light:before {
  content: "\e806";
}
.icon-direction:before {
  content: "\f124";
}
.icon-doc:before {
  content: "\e85f";
}
.icon-doc-inv:before {
  content: "\f15b";
}
.icon-doc-text:before {
  content: "\f0f6";
}
.icon-doc-text-inv:before {
  content: "\f15c";
}
.icon-docs:before {
  content: "\f0c5";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-dot-circled:before {
  content: "\f192";
}
.icon-double-bed:before {
  content: "\e901";
}
.icon-double-bed-solid:before {
  content: "\e81a";
}
.icon-down:before {
  content: "\f175";
}
.icon-down-big:before {
  content: "\e87b";
}
.icon-down-circled:before {
  content: "\f0ab";
}
.icon-down-circled2:before {
  content: "\e871";
}
.icon-down-dir:before {
  content: "\e873";
}
.icon-down-hand:before {
  content: "\e882";
}
.icon-down-open:before {
  content: "\e877";
}
.icon-down-solid:before {
  content: "\e812";
}
.icon-download:before {
  content: "\e851";
}
.icon-download-cloud:before {
  content: "\f0ed";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-dribbble-solid:before {
  content: "\e81e";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-drupal:before {
  content: "\f1a9";
}
.icon-edge:before {
  content: "\f282";
}
.icon-edit:before {
  content: "\e855";
}
.icon-eercast:before {
  content: "\f2da";
}
.icon-eject:before {
  content: "\e88d";
}
.icon-ellipsis:before {
  content: "\f141";
}
.icon-ellipsis-vert:before {
  content: "\f142";
}
.icon-empire:before {
  content: "\f1d1";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-envira:before {
  content: "\f299";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-etsy:before {
  content: "\f2d7";
}
.icon-euro:before {
  content: "\f153";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-exchange-light:before {
  content: "\e80c";
}
.icon-expand:before {
  content: "\f150";
}
.icon-expand-right:before {
  content: "\f152";
}
.icon-expeditedssl:before {
  content: "\f23e";
}
.icon-export:before {
  content: "\e853";
}
.icon-export-alt:before {
  content: "\f14d";
}
.icon-extinguisher:before {
  content: "\f134";
}
.icon-eye:before {
  content: "\e897";
}
.icon-eye-off:before {
  content: "\e898";
}
.icon-eyedropper:before {
  content: "\f1fb";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-facebook-squared:before {
  content: "\f308";
}
.icon-fast-bw:before {
  content: "\e88c";
}
.icon-fast-fw:before {
  content: "\e88b";
}
.icon-fax:before {
  content: "\f1ac";
}
.icon-fb-solid:before {
  content: "\e826";
}
.icon-female:before {
  content: "\f182";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-file-archive:before {
  content: "\f1c6";
}
.icon-file-audio:before {
  content: "\f1c7";
}
.icon-file-code:before {
  content: "\f1c9";
}
.icon-file-excel:before {
  content: "\f1c3";
}
.icon-file-image:before {
  content: "\f1c5";
}
.icon-file-pdf:before {
  content: "\f1c1";
}
.icon-file-powerpoint:before {
  content: "\f1c4";
}
.icon-file-video:before {
  content: "\f1c8";
}
.icon-file-word:before {
  content: "\f1c2";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-fire:before {
  content: "\e8bf";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-first-order:before {
  content: "\f2b0";
}
.icon-flag:before {
  content: "\e84e";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-flag-empty:before {
  content: "\f11d";
}
.icon-flash:before {
  content: "\e8a4";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-flight:before {
  content: "\e8a6";
}
.icon-floppy:before {
  content: "\e8c3";
}
.icon-folder:before {
  content: "\e860";
}
.icon-folder-empty:before {
  content: "\f114";
}
.icon-folder-open:before {
  content: "\e861";
}
.icon-folder-open-empty:before {
  content: "\f115";
}
.icon-font:before {
  content: "\e8ac";
}
.icon-font-awesome:before {
  content: "\f2b4";
}
.icon-fonticons:before {
  content: "\f280";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-fork:before {
  content: "\f126";
}
.icon-fork-and-knife:before {
  content: "\e90b";
}
.icon-fort-awesome:before {
  content: "\f286";
}
.icon-forumbee:before {
  content: "\f211";
}
.icon-forward:before {
  content: "\e89a";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}
.icon-frown:before {
  content: "\f119";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-gauge:before {
  content: "\f0e4";
}
.icon-genderless:before {
  content: "\f22d";
}
.icon-get-pocket:before {
  content: "\f265";
}
.icon-gg:before {
  content: "\f260";
}
.icon-gg-circle:before {
  content: "\f261";
}
.icon-gift:before {
  content: "\e8be";
}
.icon-git:before {
  content: "\f1d3";
}
.icon-git-squared:before {
  content: "\f1d2";
}
.icon-github:before {
  content: "\f113";
}
.icon-github-circled:before {
  content: "\f09b";
}
.icon-github-squared:before {
  content: "\f300";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-glass:before {
  content: "\e82a";
}
.icon-glide:before {
  content: "\f2a5";
}
.icon-glide-g:before {
  content: "\f2a6";
}
.icon-globe:before {
  content: "\e892";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-google-plus-circle:before {
  content: "\f2b3";
}
.icon-gplus:before {
  content: "\f0d5";
}
.icon-gplus-squared:before {
  content: "\f0d4";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-graphic-design:before {
  content: "\e90a";
}
.icon-grav:before {
  content: "\f2d6";
}
.icon-grid-1:before {
  content: "\e8d0";
}
.icon-grid-1-mode:before {
  content: "\e8cf";
}
.icon-grid-2:before {
  content: "\e8cc";
}
.icon-grid-2-mode:before {
  content: "\e8ce";
}
.icon-grid-3:before {
  content: "\e8cd";
}
.icon-grid-4:before {
  content: "\e8cb";
}
.icon-grid-5:before {
  content: "\e8f5";
}
.icon-gwallet:before {
  content: "\f1ee";
}
.icon-h-sigh:before {
  content: "\f0fd";
}
.icon-hacker-news:before {
  content: "\f1d4";
}
.icon-hamberger-solid:before {
  content: "\e828";
}
.icon-hammer:before {
  content: "\e8c7";
}
.icon-hand-grab-o:before {
  content: "\f255";
}
.icon-hand-lizard-o:before {
  content: "\f258";
}
.icon-hand-outline:before {
  content: "\e8db";
}
.icon-hand-paper-o:before {
  content: "\f256";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-hand-scissors-o:before {
  content: "\f257";
}
.icon-hand-spock-o:before {
  content: "\f259";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-hashtag:before {
  content: "\f292";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-header:before {
  content: "\f1dc";
}
.icon-headphones:before {
  content: "\e86b";
}
.icon-heart:before {
  content: "\e82e";
}
.icon-heart-empty:before {
  content: "\e82f";
}
.icon-heart-solid:before {
  content: "\e821";
}
.icon-heart1:before {
  content: "\e8ec";
}
.icon-heartbeat:before {
  content: "\f21e";
}
.icon-help:before {
  content: "\f128";
}
.icon-help-circled:before {
  content: "\e845";
}
.icon-history:before {
  content: "\f1da";
}
.icon-home:before {
  content: "\e847";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-hourglass:before {
  content: "\f254";
}
.icon-hourglass-1:before {
  content: "\f251";
}
.icon-hourglass-2:before {
  content: "\f252";
}
.icon-hourglass-3:before {
  content: "\f253";
}
.icon-hourglass-o:before {
  content: "\f250";
}
.icon-houzz:before {
  content: "\f27c";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-i-cursor:before {
  content: "\f246";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-imdb:before {
  content: "\f2d8";
}
.icon-in-solid:before {
  content: "\e829";
}
.icon-inbox:before {
  content: "\e891";
}
.icon-indent-left:before {
  content: "\e8a9";
}
.icon-indent-right:before {
  content: "\e8aa";
}
.icon-industry:before {
  content: "\f275";
}
.icon-info:before {
  content: "\f129";
}
.icon-info-circled:before {
  content: "\e846";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-ioxhost:before {
  content: "\f208";
}
.icon-italic:before {
  content: "\e8ae";
}
.icon-joomla:before {
  content: "\f1aa";
}
.icon-jsfiddle:before {
  content: "\f1cc";
}
.icon-key:before {
  content: "\e8c5";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-knife:before {
  content: "\e8d6";
}
.icon-language:before {
  content: "\f1ab";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-lastfm-squared:before {
  content: "\f203";
}
.icon-leaf:before {
  content: "\e8ab";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-left:before {
  content: "\f177";
}
.icon-left-big:before {
  content: "\e87c";
}
.icon-left-circled:before {
  content: "\f0a8";
}
.icon-left-circled2:before {
  content: "\f190";
}
.icon-left-dir:before {
  content: "\e875";
}
.icon-left-hand:before {
  content: "\e880";
}
.icon-left-open:before {
  content: "\e878";
}
.icon-lemon:before {
  content: "\e8c8";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-life-preserver:before {
  content: "\e8fc";
}
.icon-lifebuoy:before {
  content: "\f1cd";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-link:before {
  content: "\e848";
}
.icon-link-ext:before {
  content: "\f08e";
}
.icon-link-ext-alt:before {
  content: "\f14c";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-linkedin-squared:before {
  content: "\f30c";
}
.icon-linode:before {
  content: "\f2b8";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-lips-solid:before {
  content: "\e81f";
}
.icon-list:before {
  content: "\e8a8";
}
.icon-list-alt:before {
  content: "\e8b8";
}
.icon-list-bullet:before {
  content: "\f0ca";
}
.icon-list-numbered:before {
  content: "\f0cb";
}
.icon-location:before {
  content: "\e85d";
}
.icon-lock:before {
  content: "\e84a";
}
.icon-lock-open:before {
  content: "\e84b";
}
.icon-lock-open-alt:before {
  content: "\f13e";
}
.icon-login:before {
  content: "\e866";
}
.icon-logout:before {
  content: "\e867";
}
.icon-love-glass:before {
  content: "\e8fe";
}
.icon-love-it:before {
  content: "\e81c";
}
.icon-love-it-solid:before {
  content: "\e8e6";
}
.icon-low-vision:before {
  content: "\f2a8";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-magnet:before {
  content: "\e8c0";
}
.icon-mail:before {
  content: "\e82d";
}
.icon-mail-alt:before {
  content: "\f0e0";
}
.icon-mail-clean:before {
  content: "\e8f7";
}
.icon-mail-squared:before {
  content: "\f199";
}
.icon-male:before {
  content: "\f183";
}
.icon-man-user-1:before {
  content: "\e8ee";
}
.icon-map:before {
  content: "\f279";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-map-pin:before {
  content: "\f276";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-mars:before {
  content: "\f222";
}
.icon-mars-double:before {
  content: "\f227";
}
.icon-mars-stroke:before {
  content: "\f229";
}
.icon-mars-stroke-h:before {
  content: "\f22b";
}
.icon-mars-stroke-v:before {
  content: "\f22a";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-meanpath:before {
  content: "\f20c";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-meetup:before {
  content: "\f2e0";
}
.icon-megaphone:before {
  content: "\e8c4";
}
.icon-meh:before {
  content: "\f11a";
}
.icon-men-light:before {
  content: "\e810";
}
.icon-menu:before {
  content: "\f0c9";
}
.icon-mercury:before {
  content: "\f223";
}
.icon-mic:before {
  content: "\f130";
}
.icon-microchip:before {
  content: "\f2db";
}
.icon-minus:before {
  content: "\e895";
}
.icon-minus-circled:before {
  content: "\e844";
}
.icon-minus-squared:before {
  content: "\f146";
}
.icon-minus-squared-alt:before {
  content: "\f147";
}
.icon-mixcloud:before {
  content: "\f289";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-modx:before {
  content: "\f285";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-monitor:before {
  content: "\e902";
}
.icon-monitor-solid:before {
  content: "\e81d";
}
.icon-moon:before {
  content: "\f186";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-move:before {
  content: "\f047";
}
.icon-music:before {
  content: "\e82b";
}
.icon-mute:before {
  content: "\f131";
}
.icon-neuter:before {
  content: "\f22c";
}
.icon-newspaper:before {
  content: "\f1ea";
}
.icon-notification-solid:before {
  content: "\e827";
}
.icon-object-group:before {
  content: "\f247";
}
.icon-object-ungroup:before {
  content: "\f248";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-off:before {
  content: "\e8b6";
}
.icon-ok:before {
  content: "\e83d";
}
.icon-ok-circled:before {
  content: "\e83e";
}
.icon-ok-circled2:before {
  content: "\e83f";
}
.icon-ok-squared:before {
  content: "\f14a";
}
.icon-opencart:before {
  content: "\f23d";
}
.icon-openid:before {
  content: "\f19b";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-optin-monster:before {
  content: "\f23c";
}
.icon-package:before {
  content: "\e8d9";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-paper-plane-empty:before {
  content: "\f1d9";
}
.icon-paragraph:before {
  content: "\f1dd";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-pause:before {
  content: "\e8a0";
}
.icon-pause-circle:before {
  content: "\f28b";
}
.icon-pause-circle-o:before {
  content: "\f28c";
}
.icon-paw:before {
  content: "\f1b0";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-pencil:before {
  content: "\e854";
}
.icon-pencil-squared:before {
  content: "\f14b";
}
.icon-percent:before {
  content: "\f295";
}
.icon-person-solid:before {
  content: "\e824";
}
.icon-phone:before {
  content: "\e862";
}
.icon-phone-squared:before {
  content: "\f098";
}
.icon-picture:before {
  content: "\e837";
}
.icon-pied-piper:before {
  content: "\f2ae";
}
.icon-pied-piper-alt:before {
  content: "\f1a8";
}
.icon-pied-piper-squared:before {
  content: "\f1a7";
}
.icon-pin:before {
  content: "\e896";
}
.icon-pinterest:before {
  content: "\f231";
}
.icon-pinterest-circled:before {
  content: "\f0d2";
}
.icon-pinterest-squared:before {
  content: "\f0d3";
}
.icon-play:before {
  content: "\e887";
}
.icon-play-circled:before {
  content: "\f144";
}
.icon-play-circled2:before {
  content: "\e888";
}
.icon-player-solid:before {
  content: "\e813";
}
.icon-plug:before {
  content: "\f1e6";
}
.icon-plus:before {
  content: "\e843";
}
.icon-plus-circled:before {
  content: "\e894";
}
.icon-plus-squared:before {
  content: "\f0fe";
}
.icon-plus-squared-alt:before {
  content: "\f196";
}
.icon-podcast:before {
  content: "\f2ce";
}
.icon-pound:before {
  content: "\f154";
}
.icon-print:before {
  content: "\e856";
}
.icon-product-hunt:before {
  content: "\f288";
}
.icon-puzzle:before {
  content: "\f12e";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-qrcode:before {
  content: "\e8c9";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-quora:before {
  content: "\f2c4";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-ravelry:before {
  content: "\f2d9";
}
.icon-rebel:before {
  content: "\f1d0";
}
.icon-recycle:before {
  content: "\f1b8";
}
.icon-reddit:before {
  content: "\f1a1";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-reddit-squared:before {
  content: "\f1a2";
}
.icon-registered:before {
  content: "\f25d";
}
.icon-renren:before {
  content: "\f18b";
}
.icon-reply:before {
  content: "\f112";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-rescue-solid:before {
  content: "\e817";
}
.icon-resize-full:before {
  content: "\e86e";
}
.icon-resize-full-alt:before {
  content: "\f0b2";
}
.icon-resize-horizontal:before {
  content: "\e89d";
}
.icon-resize-small:before {
  content: "\e86f";
}
.icon-resize-vertical:before {
  content: "\e870";
}
.icon-retweet:before {
  content: "\e857";
}
.icon-right:before {
  content: "\f178";
}
.icon-right-big:before {
  content: "\e87d";
}
.icon-right-circled:before {
  content: "\f0a9";
}
.icon-right-circled2:before {
  content: "\f18e";
}
.icon-right-dir:before {
  content: "\e876";
}
.icon-right-hand:before {
  content: "\e87f";
}
.icon-right-open:before {
  content: "\e879";
}
.icon-road:before {
  content: "\e8b7";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-roller-light:before {
  content: "\e80a";
}
.icon-rouble:before {
  content: "\f158";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-rss-squared:before {
  content: "\f143";
}
.icon-rupee:before {
  content: "\f156";
}
.icon-safari:before {
  content: "\f267";
}
.icon-scissors:before {
  content: "\e8b4";
}
.icon-scribd:before {
  content: "\f28a";
}
.icon-search:before {
  content: "\e82c";
}
.icon-search-1:before {
  content: "\e8e4";
}
.icon-search-bar-1:before {
  content: "\e8e5";
}
.icon-search-clean:before {
  content: "\e8f8";
}
.icon-search-light:before {
  content: "\e80f";
}
.icon-search-long-solid:before {
  content: "\e814";
}
.icon-search-solid:before {
  content: "\e820";
}
.icon-sellsy:before {
  content: "\f213";
}
.icon-server:before {
  content: "\f233";
}
.icon-share:before {
  content: "\f1e0";
}
.icon-share-squared:before {
  content: "\f1e1";
}
.icon-shekel:before {
  content: "\f20b";
}
.icon-shield:before {
  content: "\f132";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-shirtsinbulk:before {
  content: "\f214";
}
.icon-shop-left:before {
  content: "\e90c";
}
.icon-shop-right:before {
  content: "\e90d";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-shopping-cart:before {
  content: "\e8e9";
}
.icon-shopping-cart-1:before {
  content: "\e8e7";
}
.icon-shopping-cart-full:before {
  content: "\e8e8";
}
.icon-shopping-cart-left:before {
  content: "\e910";
}
.icon-shopping-cart-right:before {
  content: "\e911";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-shower-light:before {
  content: "\e804";
}
.icon-shuffle:before {
  content: "\e886";
}
.icon-sign-language:before {
  content: "\f2a7";
}
.icon-signal:before {
  content: "\e88f";
}
.icon-simplybuilt:before {
  content: "\f215";
}
.icon-single-light:before {
  content: "\e8d2";
}
.icon-single-man:before {
  content: "\e8e0";
}
.icon-single-man-actions:before {
  content: "\e8f0";
}
.icon-single-man-circle:before {
  content: "\e8e1";
}
.icon-single-man-circle-light:before {
  content: "\e8f1";
}
.icon-single-man-light:before {
  content: "\e8f3";
}
.icon-single-neutral:before {
  content: "\e8e2";
}
.icon-single-neutral-actions:before {
  content: "\e8f2";
}
.icon-single-neutral-circle:before {
  content: "\e8e3";
}
.icon-single-neutral-circle-light:before {
  content: "\e8f4";
}
.icon-single-user-light:before {
  content: "\e8d1";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-skyatlas:before {
  content: "\f216";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-skype-solid:before {
  content: "\e823";
}
.icon-slack:before {
  content: "\f198";
}
.icon-sliders:before {
  content: "\f1de";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-smile:before {
  content: "\f118";
}
.icon-snapchat:before {
  content: "\f2ab";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
.icon-snapchat-square:before {
  content: "\f2ad";
}
.icon-snowflake-o:before {
  content: "\f2dc";
}
.icon-soccer-ball:before {
  content: "\f1e3";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-alt-down:before {
  content: "\f161";
}
.icon-sort-alt-up:before {
  content: "\f160";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-name-down:before {
  content: "\f15e";
}
.icon-sort-name-up:before {
  content: "\f15d";
}
.icon-sort-number-down:before {
  content: "\f163";
}
.icon-sort-number-up:before {
  content: "\f162";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-space-shuttle:before {
  content: "\f197";
}
.icon-speaker:before {
  content: "\e8fa";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-spoon:before {
  content: "\f1b1";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-stackexchange:before {
  content: "\f18d";
}
.icon-stackoverflow:before {
  content: "\f16c";
}
.icon-star:before {
  content: "\e830";
}
.icon-star-empty:before {
  content: "\e831";
}
.icon-star-half:before {
  content: "\e832";
}
.icon-star-half-alt:before {
  content: "\f123";
}
.icon-steam:before {
  content: "\f1b6";
}
.icon-steam-squared:before {
  content: "\f1b7";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-sticky-note:before {
  content: "\f249";
}
.icon-sticky-note-o:before {
  content: "\f24a";
}
.icon-stop:before {
  content: "\e889";
}
.icon-stop-circle:before {
  content: "\f28d";
}
.icon-stop-circle-o:before {
  content: "\f28e";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-strike:before {
  content: "\f0cc";
}
.icon-stumbleupon:before {
  content: "\f1a4";
}
.icon-stumbleupon-circled:before {
  content: "\f1a3";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-subway:before {
  content: "\f239";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-sun:before {
  content: "\f185";
}
.icon-superpowers:before {
  content: "\f2dd";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-tag:before {
  content: "\e899";
}
.icon-tags:before {
  content: "\e84c";
}
.icon-target:before {
  content: "\e88e";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-television:before {
  content: "\f26c";
}
.icon-television-light:before {
  content: "\e802";
}
.icon-tencent-weibo:before {
  content: "\f1d5";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-text-height:before {
  content: "\e8af";
}
.icon-text-width:before {
  content: "\e8b0";
}
.icon-th:before {
  content: "\e83b";
}
.icon-th-large:before {
  content: "\e83a";
}
.icon-th-list:before {
  content: "\e83c";
}
.icon-themeisle:before {
  content: "\f2b2";
}
.icon-thermometer:before {
  content: "\f2c7";
}
.icon-thermometer-0:before {
  content: "\f2cb";
}
.icon-thermometer-2:before {
  content: "\f2c9";
}
.icon-thermometer-3:before {
  content: "\f2c8";
}
.icon-thermometer-quarter:before {
  content: "\f2ca";
}
.icon-thumbs-down:before {
  content: "\e850";
}
.icon-thumbs-down-alt:before {
  content: "\f165";
}
.icon-thumbs-up:before {
  content: "\e84f";
}
.icon-thumbs-up-alt:before {
  content: "\f164";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-tint:before {
  content: "\e8bb";
}
.icon-to-end:before {
  content: "\e8a1";
}
.icon-to-end-alt:before {
  content: "\e8a2";
}
.icon-to-start:before {
  content: "\e8a3";
}
.icon-to-start-alt:before {
  content: "\e88a";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-tool-box:before {
  content: "\e8d7";
}
.icon-tool-box-new:before {
  content: "\e909";
}
.icon-toy-car-light:before {
  content: "\e800";
}
.icon-trademark:before {
  content: "\f25c";
}
.icon-train:before {
  content: "\f238";
}
.icon-transgender:before {
  content: "\f224";
}
.icon-transgender-alt:before {
  content: "\f225";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-trash-empty:before {
  content: "\e85e";
}
.icon-tree:before {
  content: "\f1bb";
}
.icon-trello:before {
  content: "\f181";
}
.icon-tripadvisor:before {
  content: "\f262";
}
.icon-truck:before {
  content: "\e8c6";
}
.icon-truck-1:before {
  content: "\e8d8";
}
.icon-truck-new:before {
  content: "\e908";
}
.icon-truck-outline:before {
  content: "\e8dd";
}
.icon-try:before {
  content: "\f195";
}
.icon-tty:before {
  content: "\f1e4";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-squared:before {
  content: "\f174";
}
.icon-twitch:before {
  content: "\f1e8";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-twitter-solid:before {
  content: "\e815";
}
.icon-twitter-squared:before {
  content: "\f304";
}
.icon-umbrella:before {
  content: "\e8a5";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-universal-access:before {
  content: "\f29a";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-up:before {
  content: "\f176";
}
.icon-up-big:before {
  content: "\e87e";
}
.icon-up-circled:before {
  content: "\f0aa";
}
.icon-up-circled2:before {
  content: "\e872";
}
.icon-up-dir:before {
  content: "\e874";
}
.icon-up-hand:before {
  content: "\e881";
}
.icon-up-open:before {
  content: "\e87a";
}
.icon-upload:before {
  content: "\e852";
}
.icon-upload-cloud:before {
  content: "\f0ee";
}
.icon-usb:before {
  content: "\f287";
}
.icon-user:before {
  content: "\e833";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-clean:before {
  content: "\e8f9";
}
.icon-user-light:before {
  content: "\e80e";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-user-new:before {
  content: "\e904";
}
.icon-user-new-stroke:before {
  content: "\e905";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-users:before {
  content: "\e834";
}
.icon-venus:before {
  content: "\f221";
}
.icon-venus-double:before {
  content: "\f226";
}
.icon-venus-mars:before {
  content: "\f228";
}
.icon-viacoin:before {
  content: "\f237";
}
.icon-viadeo:before {
  content: "\f2a9";
}
.icon-viadeo-square:before {
  content: "\f2aa";
}
.icon-video:before {
  content: "\e835";
}
.icon-videocam:before {
  content: "\e836";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-vimeo-squared:before {
  content: "\f194";
}
.icon-vine:before {
  content: "\f1ca";
}
.icon-vkontakte:before {
  content: "\f189";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-volume-down:before {
  content: "\e869";
}
.icon-volume-off:before {
  content: "\e868";
}
.icon-volume-up:before {
  content: "\e86a";
}
.icon-wardrobe:before {
  content: "\e8dc";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-wheelchair-alt:before {
  content: "\f29b";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-wikipedia-w:before {
  content: "\f266";
}
.icon-window-close:before {
  content: "\f2d3";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-window-maximize:before {
  content: "\f2d0";
}
.icon-window-minimize:before {
  content: "\f2d1";
}
.icon-window-restore:before {
  content: "\f2d2";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-wishlist-new:before {
  content: "\e906";
}
.icon-wishlist-new-stroke:before {
  content: "\e907";
}
.icon-won:before {
  content: "\f159";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-wpbeginner:before {
  content: "\f297";
}
.icon-wpexplorer:before {
  content: "\f2de";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-wrench:before {
  content: "\e865";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-squared:before {
  content: "\f169";
}
.icon-y-combinator:before {
  content: "\f23b";
}
.icon-yahoo:before {
  content: "\f19e";
}
.icon-yelp:before {
  content: "\f1e9";
}
.icon-yen:before {
  content: "\f157";
}
.icon-yoast:before {
  content: "\f2b1";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-youtube-solid:before {
  content: "\e825";
}
.icon-youtube-squared:before {
  content: "\f166";
}
.icon-zoom-3:before {
  content: "\e8ed";
}
.icon-zoom-in:before {
  content: "\e89e";
}
.icon-zoom-out:before {
  content: "\e89f";
}
